#list_myhostpital{cursor:pointer}
#edf_file{cursor:pointer}
div#lheader{background-color:#99bbbb;border-style:solid;border-color:#f0aaaa;height:80px}
div#llist{border-style:solid;border-color:#f0aaaa;height:856px}
div#lboundary{background-color:#EEEEEE;border-style:solid;border-color:#f0aaaa;}
div#pages{height:50px;padding-left:600px;}