<!DOCTYPE html>
<html lang = "zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content = "IE=edge">
		<meta name = "viewpor" content = "width=device-width,initial-scale=1">
		<meta name="description" content>
		<title>ECharts</title>
		<!-- 引入 echarts.js -->
		<script src="../static/echarts.js"></script>
		<script src="../static/jquery-2.2.1.min.js"></script>
		<script src="../static/show_charts.js"></script>
		<script src="../static/for_List.js"></script>
		<script src="../static/for_Page.js"></script>
		<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/main.css" rel="stylesheet" type="text/css">
		<!--<link href="../static/upload.css" rel="stylesheet" type="text/css">-->
	</head>
	<body>
		{% if filefalse %}
		<script type="text/javascript">
			fileFalse = true;
		</script>
		{% endif %}
		<script type="text/javascript">
			function fileClick(name){
				window.location="{{url_for('showPage')}}";
				show(1,name);
			}
		</script>
			<div id="lheader">
					<ul class="nav nav-pills navbar-right navbar-nav main-navigation" style="padding-top:20px;padding-right:15px">
						<li role="presentation">
							<a href="#">me</a>
						</li>
						<li role="presentation">
							<a href="#">退出登陆</a>
						</li>
					</ul>
			</div>
		<div class="container-fluid">
				<div class="row">
					<div id="llist" class="col-md-2">
						<div style="height:800px">
							<table class="table table-hover table-condensed">
								<tbody>
									<tr>
										<td id="list_myhostpital" onclick="myhostpital()">我的医院</td>
									</tr>
									{% for file in files %}
									<tr  class="list_edf_files" onclick="fileClick('{{file}}')" style="display:none">
										<td id="edf_file">
											<div>
												<span>&nbsp;</span>
												<span>&nbsp;</span>
												{{file}}
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div>
							<form method="post" enctype="multipart/form-data" action="http://127.0.0.1:5000/main">
								<!--<input name="uid" type="hidden" value="{{uid}}"/>-->
								<div class="edf_upload">
									<input type="file" name="edf_upload" accept="edf">
								</div>
								<input type="submit" name="Submit" value="添加"/>
							</form>
						</div>
					</div>
					<div id="lboundary" class="col-md-10" >
						<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
						<div id="main" style="width:1200px;height:800px;display:block"></div>
						<div id="pages" class="container-fluid">
							<ul class="pagination pagination-sm">
								<li id="prev" style="cursor:pointer" class="disabled">
									<a aria-label="Previous" onclick="prev()">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								{% if pageAccount %}
								{% for i in range(1,pageAccount+1) %}
								{% if i ==1 %}
								<li id="{{i}}_" class="active" style="cursor:pointer"><a id="{{i}}" onclick="clicked(event)">{{i}}</a></li>
								{% else %}
								<li id="{{i}}_" style="cursor:pointer"><a id="{{i}}" onclick="clicked(event)">{{i}}</a></li>
								{% endif %}
								{% if i==1 %}
								<li id="prev_points" style="display:none"><a>...</a></li>
								{% endif %}
								{% if i==pageAccount-1 %}
								<li id="behind_points"><a>...</a></li>
								{% endif %}
								<!--<li id="prev_points" style="display:none"><a>...</a></li>
								<li id="2_" style="cursor:pointer"><a id="2" onclick="clicked(event)">2</a></li>
								<li id="3_" style="cursor:pointer"><a id="3" onclick="clicked(event)">3</a></li>
								<li id="4_" style="cursor:pointer;display:none"><a id="4" onclick="clicked(event)">4</a></li>
								<li id="5_" style="cursor:pointer;display:none"><a id="5" onclick="clicked(event)">5</a></li>
								<li id="behind_points"><a>...</a></li>
								<li id="6_" style="cursor:pointer"><a id="6" onclick="clicked(event)">6</a></li>-->
								{% endfor %}
								{% endif %}
								<li id="next" style="cursor:pointer">
									<a aria-label="Next" onclick="next()">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
		</div>
	</body>
</html>
