<!DOCTYPE html>
<html lang = "zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content = "IE=edge">
		<meta name = "viewpor" content = "width=device-width,initial-scale=1">
		<meta name="description" content>
		<title>ECharts</title>
		<!-- 引入 echarts.js -->
		<script src="../static/echarts.js"></script>
		<script src="../static/jquery-2.2.1.min.js"></script>
		<script src="../static/show_charts.js"></script>
		<script src="../static/for_List.js"></script>
		<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/for_List.css" rel="stylesheet" type="text/css">
	</head>
	<body>
<!--		<script type="text/javascript">
			function click(){
				if(document.getElementById("main").style.display == "none")
					document.getElementById("main").style.display = "block";
				else document.getElementById("main").style.display = "none";
			}
			function click_2(){
				if(document.getElementById("test").style.display == "none")
					document.getElementById("test").style.display = "block";
				else document.getElementById("test").style.display = "none";
			}
		</script> -->
		<div class="container-fluid">
			<div id="lheader" style="height:100px"></div>
				<div class="row">
					<div id="llist" class="col-md-2">
						<table class="table table-hover table-condensed">
							<tbody>
								<tr>
									<td id="list_myhostpital" onclick="myhostpital()">clickthis</td>
								</tr>
								<tr>
									<td>
										<div id="list_edf_files">
											<span>&nbsp;</span>
											<span>&nbsp;</span>
											clickthis
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="lboundary" class="col-md-10" >
						<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
						<div id="main" style="left:300px;width:800px;height:800px;display:block"></div>
						<div id="pages">
					</div>
				</div>
		</div>
	</body>
</html>
